#box {
    width: 12rem;
    font-family: "Fira Sans", serif;
    text-align: center;
}

#box-title {
    font-style: bold;
    font-size: 1.0em;
    user-select: none;
}

#box-tabs-button,
#box-bookmarks-button {
    font-size: 0.8em;
    margin-top: 0.3rem;
    cursor: pointer;
}

#box-tabs-checkbox {
    margin-top: 0.4rem;
}

#box-tabs-checkbox-label {
    font-size: 0.9em;
    user-select: none;
}
